body {
	background-color: #212529;
	color: white;
	font-size: large;
}

.btn:focus,
.btn:active {
	outline: none !important;
	box-shadow: none;
}

input {
	width: 100%;
}

.welcome {
	text-align: center;
	
}

row {
	margin: 20px;
}

.message-2 {
	text-align: center;
}

.username {
	padding-left: 5px;
	color: #ff0d86;
}

.info {
	color: #ff0d86;
}
.manager-icon {
	padding-left: 10px;
}

.info-box {
	background: white;
	color: #373737;
	border-radius: 5px;
}

.dropdown {
	position: relative;
	display: inline-block;
}

.btn {
	margin: 0px;
	width: 100%;
	border: none;
	border-radius: 0px;
}

.list-btn:hover {
	color: #f9f9f9;
	background: #212529;
}

.btn:active {
	border: none;
}

.dropdown-content {
	width: 150%;
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px #212529;

	border-radius: 5px;
	z-index: 1;
}

.dropdown:hover .dropdown-content {
	display: block;
	cursor: pointer;
}

.dropdown {
	border: 1px #828282 solid;
	border-radius: 5px;
	width: 100%;
	text-align: center;
	margin-top: 5px;
}

.company-msg {
	margin-top: 5px;
	padding: 0px;
}

.company-info {
	margin: 10px;
}

.experience-info {
	margin: 10px;
}

.company-selector {
	padding: 0px;
}

.experience-msg {
	padding-left: 0px;
}

.experience-input {
	padding-left: 0px;
}

.continue-to-main {
	color: white;
	background: #0c0e0f;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

.continue-to-main:hover {
	color: #0c0e0f;
	background: #828282;
}

.first-time-msg {
	color: red;
}

#real-input-years {
	border-radius: 5px;
}

.company-info-area {
	padding-bottom: 5px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	float: right;
	background: white;
	color: #0c0e0f;
}

.edit-btn {
	padding: 0px;
	width:60%;
	padding-left: 40%;
}

.main-btn {
	padding: 0px;
	border: 1px #0c0e0f solid;
	border-radius: 5px;
	
}

.main-btn:hover {
	background: #0c0e0f;
	color: #ff0d86;
}

.manager-info-area {
	padding-bottom: 5px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	float: right;
	background: white;
	color: #0c0e0f;
}

.edit-company{
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.6);
}

.edit-company-info{
	margin-top: 100px;
	border-radius: 10px;
	background-color: white;
	 color: #0c0e0f;
	 
}

.edit-company-input{
	color: #ff0d86;
}

.edit-icon{
	margin-top: 10px;
}

#cancel-company-edit{
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}