body {
	background-color: #212529;
	color: white;
	font-size: large;
}

.btn:focus,
.btn:active {
	outline: none !important;
	box-shadow: none;
}

input {
	width: 100%;
}

.welcome {
	text-align: center;
}

row {
	margin: 20px;
}

.message-2 {
	text-align: center;
}

.username {
	padding-left: 5px;
	color: #ff0d86;
}
.manager-icon {
	padding-left: 10px;
}

.info-box {
	background: white;
	color: #373737;
	border-radius: 5px;
}

.dropdown {
	position: relative;
	display: inline-block;
}

.btn {
	margin: 0px;
	width: 100%;
	border: none;
	border-radius: 0px;
}

.list-btn:hover {
	color: #f9f9f9;
	background: #212529;
}

.btn:active {
	border: none;
}

.dropdown-content {
	width: 100%;
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px #212529;

	border-radius: 5px;
	z-index: 1;
}

.dropdown:hover .dropdown-content {
	display: block;
	cursor: pointer;
}

.dropdown {
	border: 1px #828282 solid;
	border-radius: 5px;
	width: 100%;
	text-align: center;
	margin-top: 5px;
}

.company-msg {
	margin-top: 5px;
	padding: 0px;
}

.company-info {
   margin: 10px;
}

.experience-info {
    margin: 10px;
 }

.company-selector{
    padding:0px;
}
